@import 'primevue/resources/themes/saga-blue/theme.css';
/* @import 'primeflex/primeflex.min.css'; */
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import './layout.scss';
@import './style.css';
@import './theme.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/*.p-dropdown {*/
/*    width: 100%;*/
/*}*/
.form_wrapper .p-dropdown,
.p-calendar,
.p-dropdown {
    width: 100%;
}
.p-paginator .p-dropdown {
    width: auto;
}

.p-button {
    background-color: #2196F3;
}

.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.customer-badge.status-scheduled {
    background-color: #C8E6C9;
    color: #256029;
}

.customer-badge.status-cancelled {
    background-color: #FFCDD2;
    color: #C63737;
}

.customer-badge.status-completed {
    background-color: #FEEDAF;
    color: #8A5340;
}